# Python bytecode dosyaları
__pycache__/
*.py[cod]

# Jupyter defteri
*.ipynb_checkpoints/

# Sanal ortamlar 
venv/
.env/
.venv/

# IDE dosyaları
.vscode/
.idea/

# MacOS sistem dosyası
.DS_Store

# Excel çıktısı
*.xlsx

# Streamlit geçici dosyaları
.streamlit/

# Log veya önbellek dosyaları
*.log
*.cache/
