# Python bytecode files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# IDE project files
.vscode/
.idea/

# macOS system file
.DS_Store

# Excel outputs
*.xlsx

# Streamlit temporary files
.streamlit/

# Log/cache files
*.log
*.cache/

# Secret key for Google Sheets API
credentials.json
